.about__container {
  padding-top: calc(var(--navbar-width) + 1rem);
}

.about__body {
  display: flex;
  flex-direction: column;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__blurb {
  margin: 2rem 0 2.6rem;
}

.about__blurb p {
  margin-bottom: 1rem;
}

/* ======= MEDIA QUERIES - MEDIUM DEVICES ======= */
@media screen and (max-width: 1024px) {
  .container.about__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__body {
    margin: 1rem 0 1.5rem;
  }
}

/* ======= MEDIA QUERIES - SMALL DEVICES ======= */
@media screen and (max-width: 600px) {
  .container.about__container {
    flex-direction: column;
  }

  .about__body {
    text-align: center;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .about__blurb {
    text-align: justify;
  }
}
