.container.skills__container {
  padding-top: calc(var(--navbar-width) + 1rem);
}

.skills__body {
  /* border: 1px solid red; */
}

.skills__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.skills__card > h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skills__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
}

.skills__star {
  color: var(--color-light);
  font-size: 0.7rem;
}

.skills__star-fill {
  color: var(--color-primary);
}
